In [4]:
# coding = utf-8
import pandas as pd

In [3]:
! dir

 驱动器 C 中的卷是 Win8.1
 卷的序列号是 70EF-7331

 C:\Project\Project_Github\P1 的目录

2017/06/20  09:45    <DIR>          .
2017/06/20  09:45    <DIR>          ..
2017/06/20  09:45    <DIR>          .ipynb_checkpoints
2017/06/20  09:45                72 analysis.ipynb
2017/05/01  23:06               183 data_des.txt
2017/04/27  10:41         7,089,662 info.csv
2017/05/01  22:57       169,425,875 trace.csv
               4 个文件    176,515,792 字节
               3 个目录 120,148,205,568 可用字节

In [7]:
df_info = pd.read_csv("info.csv",header=0,encoding="utf-8")
df_info.head()

           id  nfollower  nfollowing          location  ngist  nrepo
0      0----0        4.0         2.0              None   10.0   15.0
1       0-14N       18.0         5.0              None    0.0   14.0
2           0       34.0        21.0  Waterloo, Canada   12.0   53.0
3    00-00-00        7.0         4.0              None    0.0   19.0
4  0000000009        0.0         3.0              None    0.0   15.0

In [15]:
df_trace = pd.read_csv("trace.csv",header=None,encoding="utf-8",names=["d_"+str(i) for i in range(363)])
df_trace.reset_index(inplace=True)
df_trace.head()

,index,d_0,d_1,d_2,d_3,d_4,d_5,d_6,d_7,d_8,...,d_353,d_354,d_355,d_356,d_357,d_358,d_359,d_360,d_361,d_362
0,0----0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0-14N,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,0
3,00-00-00,0,4,9,6,3,5,2,1,2,...,2,4,6,8,4,0,0,1,1,0
4,0000000009,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
df_info.shape,df_trace.shape

((228140, 6), (228140, 363))

In [24]:
df_merge=df_info[["id","nfollower","nfollowing","ngist","nrepo"]].merge(
    df_trace,how="inner",left_on="id",right_on="index").drop(["index",],axis=1)
df_merge.head()

,id,nfollower,nfollowing,ngist,nrepo,d_0,d_1,d_2,d_3,d_4,...,d_353,d_354,d_355,d_356,d_357,d_358,d_359,d_360,d_361,d_362
0,0----0,4.0,2.0,10.0,15.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0-14N,18.0,5.0,0.0,14.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,34.0,21.0,12.0,53.0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,0
3,00-00-00,7.0,4.0,0.0,19.0,0,4,9,6,3,...,2,4,6,8,4,0,0,1,1,0
4,0000000009,0.0,3.0,0.0,15.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
df_merge.to_csv("data_info_trace.csv",encoding="utf-8",index=False)

In [26]:
import gc

In [27]:
del df_info
del df_trace
del df_merge
gc.collect()

661